extends layouts/main

block content
    .form-container
        form
            .form-group.row
                label.col-sm-2.col-form-label(for="studentName") 이름
                .col-sm-10
                    input.form-control#studentName(type="text", placeholder="학생이름", name="studentName")