.new-student-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .newstudent-form-container {
        width: 500px;
        .form-group {
            margin-top: 10px;
        }
    }
}